<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/stilus.css" />
        <title>Szerver főoldala</title>
    </head>
    <body>
        <div class="container">
            <h1>Utazási Iroda szerver oldali nyitólap</h1>
            <ul>
                <li>
                    <a href="/utazasok">Utazások</a>
                </li>
                <li>
                    <a href="/idegenvezetok">Idegenvezetők</a>
                </li>
                <li>
                    <a href="/idegenvezetok">Felhasználók</a>
                </li>
                <li>
                    <a href="/idegenvezetok">Foglalások</a>
                </li>
            </ul>
        </div>
    </body>
</html>
